# Python Cache/Compiled files
__pycache__/*
*.pyc

# Vim Temp Files
*.swp

# Neovim Undo Files
*.un~

# VSCode config directories
.vscode/

# Temp/test output files:
out*.txt
*.out
typetest.py

# Solutions when stuck:
*_sol.py

# Not checking in output files for solutions:
20??/*.txt

# Not checking in helper files for solutions:
20??/*.xlsx
20??/*.png

# Data Structures directory files tracked in another repository - ignore:
ds/
ds
