# Python Cache/Compiled files
__pycache__/*
*.pyc

# Vim Temp Files
*.swp

# Neovim Undo Files
*.un~

# VSCode config directories
.vscode/

# Temp/test output files:
out*.txt
*.out

# Solutions when stuck:
*_sol.py

# Not checking in output files for 2022:
2022/*.txt
